---
import { getAbsoluteLocaleUrl } from "astro:i18n";
import ArrowUpRight from "../../icons/ArrowUpRight.astro";
import GitHub from "../../icons/GitHub.astro";
import Instagram from "../../icons/Instagram.astro";
import LinkedIn from "../../icons/LinkedIn.astro";
import SocialPill from "../../icons/SocialPill.astro";
import Web from "../../icons/Web.astro";

import { getLangFromUrl } from "@/i18n/utils";
import Tooltip from "../Tooltip.astro";

//para cambiar entre idiomas y traducir rutas
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
---

<!-- Aside para links secundarios -->
<aside>
  <div class="flex gap-2 flex-wrap">
    <SocialPill
      class="px-4 gap-1 font-medium text-sm text-white dark:text-white bg-gradient-to-r from-cyan-400 to-fuchsia-500 hover:from-cyan-300 hover:to-fuchsia-400 w-auto group"
      href="https://viadelweb.com/get-started/"
      target="_blank"
    >
      Book Via Del Web
      <ArrowUpRight
        class="size-4 transition-transform duration-300 ease-in-out group-hover:rotate-45"
      />
    </SocialPill>
    <Tooltip tooltip="Via Del Web Studio">
      <SocialPill href="https://viadelweb.com" target="_blank">
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="Ghost blog · OldSchoolYouth">
      <SocialPill href="https://salemaziel.oldschoolyouth.com" target="_blank">
        <ArrowUpRight class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="BoldLatina Tech Column">
      <SocialPill
        href="https://boldlatina.com/author/viadelweb-gmail-com/"
        target="_blank"
      >
        <Web class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="GitHub">
      <SocialPill href="https://github.com/salemaziel" target="_blank">
        <GitHub class="size-4" />
      </SocialPill>
    </Tooltip>
    <Tooltip tooltip="@rblart_760">
      <SocialPill href="https://www.instagram.com/rblart_760" target="_blank">
        <Instagram class="size-4" />
      </SocialPill>
    </Tooltip>
  </div>
</aside>
